.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  p,
  .chrome-button-container {
    margin-top: 0;
    margin-bottom: 0;
  }

  /*--------------------------------------------*/
  .menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 35px;
  }

  .menu-container {
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    overflow: hidden;
    max-width: 100%;
  }

  .scrollmenu {
    white-space: nowrap;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 10px 0;
    flex-grow: 1;
  }


  .scrollmenu a {
    display: inline-block;
    padding: 8px 13px;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    color: #0f0f0f;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }

  .scrollmenu a.active {
  background-color: #000000;
  color: #ffffff; 
  border: none;
}


  .scrollmenu a:hover {
    background-color: #d0d0d0;
    color: #000000;
  }


  .scroll-btn {
    background-color: #f1f1f1;
    border-color: transparent;
    color: #000000;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.3s;
  }

  .scroll-btn:hover {
    background-color: #ddd;
    border-radius: 40px;
  }
  /*--------------------------------------------*/

  .tooltip {
    position: relative;
    display: inline-block;
  }

      .tooltip-title {
      visibility: hidden;
      width:max-content;
      background-color: whitesmoke;
      color: black;
      font-size: 22px;
      font-family: 'Roboto', Arial, sans-serif;
      font-weight: 400; 
      font-style: normal; 
      border: 2px solid #606060;
      padding: 10px 7px;
      position: absolute;
      z-index: 1;
      top: 20px;
      left: 25%;
      /* bottom: 150%;
      left: 50%;
      transform: translateX(-50%); */
    }

    .tooltip-name {
      visibility: hidden;
      width: auto;
      background-color: #606060;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1002;
      opacity: 0;
    }

    .tooltip .tooltip-verified {
      visibility: hidden;
      width: auto;
      background-color: #606060;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1002;
      opacity: 0;
    }

    .tooltip:hover .tooltip-title {
      visibility: visible;
    }

    .tooltip:hover .tooltip-name {
      visibility: visible;
      opacity: 0.9;
      color: white;
    }



    /*------------------------------------------------*/
    .badge {
      align-items: center;
      background-attachment: scroll;
      background-clip: border-box;
      background-color: rgba(204, 0, 0, 0.9);
      background-image: none;
      background-origin: padding-box;
      background-position-x: 0%;
      background-position-y: 0%;
      background-repeat: repeat;
      background-size: auto;
      border-bottom-color: rgb(255, 255, 255);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      border-bottom-style: none;
      border-bottom-width: 0px;
      border-image-outset: 0;
      border-image-repeat: stretch;
      border-image-slice: 100%;
      cursor: pointer;
      display: flex;
      font-family: Roboto, Arial, sans-serif;
      font-size: 12px;
      font-weight: bolder;
      height: 18px;
      line-height: 18px;
      margin-left: 0px;
      margin-right: 0px;
      margin-top: 0px;
      padding-bottom: 0px;
      padding-left: 4px;
      padding-right: 4px;
      padding-top: 0px;
      width: 42.4375px;
      color: rgb(255, 255, 255);
    }

    /*--------------------------------------------------------*/
    .chrome-button-container {
      display: grid;
      grid-template-columns: 1fr;
      height: 36px;
      font-size: 14px;
      font-weight: 500;
      font-size: 14px;
      height: 36px;
      padding: 0 16px;
      line-height: 36px;
    }

    .chrome-button-container :hover {
      /* background: transparent; */
      background-color: #dbdbdb;
    }

    .chrome-button {
      font-family: "Roboto", Arial, sans-serif;
      border-radius: 18px;
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
      font-size: 14px;
      font-weight: 500;
      font-size: 14px;
      height: 36px;
      padding: 0 16px;
      line-height: 36px;
      cursor: pointer;
      border: none;
      color: #065fd4;
      background-color: #def1ff;
      flex: 1;
      flex-basis: 0.000000001px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }


    /*-----------------------------------------------*/

    .top-level-main-grid-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      column-gap: 18px;
      row-gap: 12px;
    }

    .individual-content-container {
      cursor: pointer;
      font-family: Roboto, Arial, sans-serif;
    }

    .inner-individual-grid-container {
      display: grid;
      grid-template-columns: 50px 1fr;
      margin-top: 12px;
    }

    .inner-content-info-container {
      margin-bottom: 12px;
    }

    .thumbnail {
      width: 100%;
      display: grid;
      grid-template-columns: 50px 1fr;
      border-radius: 12px;
      border-image-width: 1;
      border-top-color: rgb(15, 15, 15);
      border-bottom-color: rgb(15, 15, 15);
      border-right-color: rgb(15, 15, 15);
      border-left-color: rgb(15, 15, 15);
      background-size: auto;
      background-repeat: repeat;
      border-image-repeat: stretch;
      object-fit: cover;
      overflow-clip-margin: content-box;
    }

    .thumbnail:hover {
      border-radius: 0px;
    }

    #static-top-small-title {
      font-size: 12px;
      padding-top: 5px;
      margin-top: 0;
      margin-bottom: 0;
    }

    .thumbnail-title {
      color: rgb(15, 15, 15);
      cursor: pointer;
      font-family: "Roboto", Arial, sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      max-height: 44px;
      text-size-adjust: 100%;
      width: auto; 
      text-overflow: ellipsis;   
     
    }

    .channel-icon {
      width: 35px;
      border-radius: 50px;
    }

    .channel-name {
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      margin-right: -1.4px;
      overflow-wrap: normal;
      padding-right: 1.4px;
      text-align: left;
      text-decoration-color: rgb(96, 96, 96);
      text-decoration-line: none;
      text-decoration-style: solid;
      text-decoration-thickness: auto;
      text-overflow: ellipsis;
      text-size-adjust: 100%;
      text-wrap: nowrap;
      word-break: break-word;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 6px;
      padding-bottom: 1px;
    }

 