.header {
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:100%;
  display: block;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 16px;
}
canvas, caption, center, cite, code, dd, del, dfn, div, dl, dt, em, embed, fieldset, font, form, h1, h2, h3, h4, h5, h6, hr, i, iframe, img, ins, kbd, label, legend, li, menu, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, u, ul, var {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
}

/*---------------------------------------------*/
.left-section {
  width: auto;
  margin: 0;
}

yt-icon-button.ytd-masthead {
  --yt-icon-button-icon-width: 24px;
  --yt-icon-button-icon-height: 24px;
  color: var(--yt-spec-icon-active-other);
  width: 40px;
  height: 40px;
  padding: 8px;
  margin-right: 8px;
  box-sizing: border-box;
  border-radius: 40px;
}

yt-icon-button {
  display: inline-block;
  position: relative;
  /* width: 24px;
  height: 24px;
  box-sizing: border-box; */
  font-size: 0;
  border-radius: 40px;
}

#guide-button.ytd-masthead {
  margin: 0;
  border-radius: 40px;

}

yt-icon.ytd-logo {
  height: 20px;
  width: 90px;
  padding: 18px 14px 18px 16px;
  color: var(--yt-spec-wordmark-text);
  flex: none;
  border-radius: 40px;
}

yt-icon,
.yt-icon-container.yt-icon {
  display: inline-flexbox;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  fill: var(--iron-icon-fill-color, currentcolor);
  stroke: var(--iron-icon-stroke-color, none);
  width: var(--iron-icon-width, 24px);
  height: var(--iron-icon-height, 24px);
  animation: var(--iron-icon-animation);
  margin-top: var(--iron-icon-margin-top);
  margin-right: var(--iron-icon-margin-right);
  margin-bottom: var(--iron-icon-margin-bottom);
  margin-left: var(--iron-icon-margin-left);
  padding: var(--iron-icon-padding);
  border-radius: 40px;
}
#guide-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  vertical-align: middle;
  border-radius: 40px;
  border-style:none;
background-color: transparent;
}
#guide-button:hover {
background-color: lightgray;

}

/*---------------------------------------------*/
form {
  display: flex;
  justify-content: center;

}


#search {
  display: flex;
  position: relative;
}

input {
  border: 1px solid #ccc;
  border-radius: 40px 0 0 40px;
  box-sizing: border-box;
  direction: ltr;
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-basis: 0.000000001px;
  font-family: "Roboto", Noto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-left: 32px;
  max-width: 100%;
  padding: 0 4px 0 16px;
  text-align: inherit;
  text-rendering: auto;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-box-flex: 1;
  display: inline-block;
  -webkit-rtl-ordering: logical;
  cursor: text;

}

input[type=text]:focus {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='55' height='55' viewBox='-12 -15 55 55' fill-rule='evenodd'%3E%3Cpath d='M16.036 18.455l2.404-2.405 5.586 5.587-2.404 2.404zM8.5 2C12.1 2 15 4.9 15 8.5S12.1 15 8.5 15 2 12.1 2 8.5 4.9 2 8.5 2zm0-2C3.8 0 0 3.8 0 8.5S3.8 17 8.5 17 17 13.2 17 8.5 13.2 0 8.5 0zM15 16a1 1 0 1 1 2 0 1 1 0 1 1-2 0'%3E%3C/path%3E%3C/svg%3E") left / contain no-repeat;
  padding: 0 4px 0 37px;
  unicode-bidi: isolate;
  
}

.search-button {
  align-items: flex-start;
  border-style: 1px solid #ccc;
  border-radius: 0px 40px 40px 0px;
  padding: 1px 6px;
  border: 1px solid #ccc;
  cursor: pointer;
  height: 40px;
  width: 64px;
  padding-block: 1px;
  padding-inline: 6px;

}
/*---------------------------------------------*/
.right-section {
  
  width: 200px;
}